.alcher_logo-header,
.title-header{
    display: inline-block;
    vertical-align: middle; 
}
.header-title{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 200;
}
.header-title,
.header-logo{
    display: inline-block;
    vertical-align: middle;
}
.header-logo{
    margin-left: 30px;
}
.header-top{
    border-bottom: solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.pp{
    width: 45px;
    border-radius: 22px;
    margin-left: 10px;
    margin-top: 4px;
 }
 .post1{
    width:400px;
 }
 .post2{
    width:400px;
    height: 240px;
 }
 .post3{
    width:400px;
    height: 240px;
}
.post4{
    width:400px;
    height: 240px;
}

 .user-name{
 font-weight: bold;
 color: black;
 margin-top: 14px;
 }
 .likes{
    color: black;
    margin-top: 5px;
 }
 .profile{
     display:grid;
     grid-template-columns: 45px 1fr;
     vertical-align: middle;
     column-gap: 30px;
 }
 .post{
     border: solid;
     border-color: rgb(231, 225, 225);
     border-radius: 5px;
     margin-top: 50px;
     margin-left: 100px;
     display: inline-block;
     width:400px;
     height:330px;
     box-shadow: 5px 5px 5px;
     color: rgb(209, 204, 204);
     
 }
 .save-button{
     width:40px;
 }
 .like-button{
     width: 40px;
 }
 .stats{
     display: grid;
     grid-template-columns: 40px 1fr 2fr 40px;
     vertical-align: bottom;
     column-gap: 10px;
 }
 .ppp{
    margin-top: 70px;
    margin-bottom: 20px;
    display: grid;
    width: 350px;
    border: solid;
    border-color: rgb(249, 246, 246);
    border-radius: 10px;
    position: fixed;
    top:1px;
    left:700px;
    box-shadow: 5px 5px 5px;
    color:rgb(212, 206, 206) ;
    border-radius: 3px;
    }
.create-new-post{
    margin-top: 70px;
    display: grid;
    width: 350px;
    border: solid;
    border-radius: 6px;
    border-color: rgb(249, 246, 246);
    box-shadow: 5px 5px 5px;
    color:rgb(212, 206, 206) ;
    position: fixed;
    top:452px;
    left:700px;
    grid-template-columns: 40px 1fr;
    vertical-align: middle;
}
 .my-profile{
     position: fixed;
     left: 500px;
     bottom: 200px;
     top: 800px;
     right:40px;
   }
   .profile-photo{
    width: 45px;
    border-radius: 22px;
   }
   .profile-info{
    display: grid;
    grid-template-columns: 45px 1fr;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
   }
   .bio{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
   }
   .profile-names{
    margin-left: 15px;
   }
   .orange-top1{
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: 500;
    border: solid;
    border-color: rgb(247, 105, 54);
    background-color: rgb(247, 105, 54);
    color: white;
    border-radius: 10px;

   }

   .save-button1{
    width:35px;
   }
   .add-post{
    width:40px;
   }
   .mp1{
    display:grid;
    grid-template-columns:40px 100px;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 25px;
   }
   .mp2{
    display: grid;
    grid-template-columns: 40px 100px;
    vertical-align: middle;
    margin-bottom: 25px;
    color: black;
   }
   .page-complete{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .create-new{
    width: 30px;;
   }
   
