.title,
.alcher_logo{
    display: inline-block;
    vertical-align: middle;
}

.login{
    border: solid;
    border-color: rgb(253, 243, 239);
    border-radius: 7px;
}
.page-one{
    margin-top: 100px;
    margin-left: 100px;
    margin-right:300px ;
    display: grid;
    grid-template-columns: 1fr 300px;
    vertical-align: middle;
}

.ask-login{
    padding-top: 50px;
    margin-bottom:0px;
    margin-top: 0px;
}
.ask-login1{
    padding-top: 20px;
    padding-bottom: 10px;
}
.orange-top{
    background-color: rgb(247, 105, 54);
    border-radius: 7px;
}
.login-button{
    display: block;
    margin-top: 10px;
}
.login-info{
    margin-left: 10px;
}
.head{
    margin-top: 200 px;
}
.alcher_logo-header,
.title-header{
    display: inline-block;
    vertical-align: middle; 
}
.header-title,
.header-logo{
    display: inline-block;
    vertical-align: middle;
}
.header-logo{
    margin-left: 30px;
}
.header-top{
    border-bottom: solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-color: rgb(200, 214, 214);
}
.bottom{
    margin-top: 40px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: x-large;
    width: 300px;
    margin-left: 40px;
    color: gray;
}
.title{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: xx-large;
    color: gray;
    font-weight: 200;
}
.title,
.alcher_logo{
    margin-top: 50px;
}
.header-title{
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.connect{
    color:rgb(244, 100, 51) ;
}
.login{
    font-family: 'Roboto', sans-serif;
    font-size: larger; 
    font-weight: 200;
    text-align:center;
    box-shadow: 5px 5px 5px;
    color: rgb(189, 185, 185);
}
.orange-top{
    color: aliceblue;
}
.register{
    margin-bottom: 20px;
}
